body
{
  background-color: rgba(82, 78, 78, 0.342);

}

.card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 90px 400px;
    min-height: 30rem;
    width: 600px;
   background-image: url('https://images.unsplash.com/photo-1488998427799-e3362cec87c3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80');
  }
  form {
    max-width: 350px;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 3px 24px -8px rgba(0, 0, 0, 0.75);
  }
  .h1
  {
    color: black;
  }
  .name-field {
    margin-bottom: 40px;
  }
  
  button {
    margin-top: 20px;
    padding: 10px;
    background: transparent;
    border-radius: 5px;
  }
  
  .render-chat {
    max-width: 350px;
    border-radius: 5px;
    padding: 20px;
    color: black;
    box-shadow: 0px 3px 24px -8px rgba(0, 0, 0, 0.75);
    margin-left: 20px;
  }
  
  h3 {
    color: #2f72da;
  }
  
  span {
    color: black;
  }
  .bt1-K
  {
    margin-bottom: 100px;
    margin-left: 650px;
    color:white;
    border-color: black;
  }