/*author:starttemplate*/
/*reference site : starttemplate.com*/

.login {
    background: url(../images/p2.jpg) no-repeat;
    background-size:cover;
    background-position: center;
    height: 665px;
    position: relative;
      
  }
  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: #ffffff!important;
      opacity: 1; /* Firefox */
      font-size:18px!important;
  }
  .rw
  {
    position: absolute;
    top: 35%;
    left:5%;
    height: 200px;

  }
  .form-login {
      background-color: rgba(0,0,0,0.55);
      padding-top: 20px;
      padding-bottom: 20px;
      padding-left: 20px;
      padding-right: 20px;
      border-radius: 15px;
      border-color:#d2d2d2;
      border-width: 5px;
      color:white;
      box-shadow:0 1px 0 #cfcfcf;
  }
  .form-control{
      background:transparent!important;
      color:white!important;
      font-size: 18px!important;
  }
  h1{
      color:white!important;
  }
  h4 { 
   border:0 solid #fff; 
   border-bottom-width:1px;
   padding-bottom:10px;
   text-align: center;
  }
  
  .form-control {
      border-radius: 10px;
  }
  .text-white{
      color: white!important;
  }
  .wrapper {
      text-align: center;
  }
  .footer p{
      font-size: 18px;
  }
  #s_u
  {
      padding-left: 200px;
  }